<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}
        App
      {{/link-to}}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          {{#link-to 'transactions'}}
            Transactions
          {{/link-to}}
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
