<div class="content">
  <div class="starter-template">
    <h1>Example app with simple css</h1>
    <p class="lead">I am Alex Opak, and i am not expert in pixel perfect css<br> I love beer. (In this case i am expert ;))</p>
    <p class="lead">
      {{#link-to 'transactions'}}
        Go to app!
      {{/link-to}}
    </p>
  </div>
</div>
